.container{
    max-width: 70%;

}

//--------------------------------------
//-----------------------------------------------------------
.navBurger {
  margin-left: auto;
  cursor: pointer;
  background: #fff;
  box-sizing: border-box;
  background-clip: content-box;
  width: 30px;
  height: 24px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index: 100;
  &:before,
  &:after {
      content: "";
      position: absolute;
      background: #fff;
      height: 2px;
      width: 100%;
      right: 0;
      will-change: rotate;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
  }
  &:before {
      top: -10px;
  }
  &:after {
      bottom: -10px;
      width: 90%;
  }
  &.active {
      background: transparent;
      background-clip: content-box;
  }
  &.active:before {
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      top: 0;
      background: #eee;
      width: 110%;
  }
  &.active:after {
      bottom: 0;
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
      background: #eee;
      width: 110%;
  }
}

.overlay {
  position: fixed;
  background: #2a3140;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform-origin: right top;
  transform: scale(0);
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  z-index: 100;
  &.open {
      opacity: 0.99;
      visibility: visible;
      transform: scale(1);
      
      li {
          
          display: block;
          animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5)
              forwards;
          animation-delay: 0.4s;
          transform: rotate(-7deg);
          transform-origin: right bottom;
          &:nth-of-type(2) {
              animation-delay: 0.5s;
          }
          &:nth-of-type(3) {
              animation-delay: 0.6s;
          }
          &:nth-of-type(4) {
              animation-delay: 0.7s;
          }
          &:nth-of-type(5) {
              animation-delay: 0.8s;
          }
      }
  }
}

.overlayMenu {
  position: absolute;
  text-align: right;
  right: 10vw;
  bottom: 10vw;
  ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: block;
      position: relative;
      height: 100%;
      li {
          display: block;
          position: relative;
          opacity: 0;
          width: 100%;
          a {
              display: inline-block;
              border: 2px solid rgba(255, 255, 255, 0.09);
              color: #fff;
              text-decoration: none;
              font-size: 30px;
              padding: 10px 40px 10px 40px;
              margin: 5px 0;
              transition: 0.2s;
              &:hover,
              &:active,
              &:focus {
                  transform: translateX(-2px);
                  padding-left: 80px;
                  outline: 1px solid rgba(255, 255, 255, 0.3);
                  background: rgba(255, 255, 255, 0.03);
              }
          }
      }
  }
}

.locked {
  overflow: hidden;
}

@keyframes fadeInRight {
  0% {
      opacity: 0;
      left: 50px;
  }
  100% {
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
  }
}
//-------------------------------------------------------------
.header{
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 2;
    padding: 25px 0;
    background-color: #222;
    .navbar-nav{
        
        .nav-item a{
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            transition: all 0.2s ease;
        }
        .nav-item a:hover{
            color: #5fd60a;
        }
        .nav-item a:active{
            color: #3e850b;
        }
            
        
    }
}
.hero-content{
    background-color: #f8f9f9;
    .text_content{
        padding: 30px 0;
        background-color: #dfdfdf;
        h1{
            font-size: 24px;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}
.media_content{
    &__title{
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }
}
.price{
    padding-top: 100px;
    margin-bottom: 100px;
    &__title{
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    &__content{
        .price__content-block{
            border: 1px solid #ddd;
            padding: 15px 30px;
            transition: all 0.5s ease;
            
            i{
                color: green;
            }
            h4{
                font-size: 24px;
            }
            p{
                margin: 0;
                padding-top: 10px;
            }
            em{
                font-weight: 700;
            }
        }
        .price__content-block:hover{
            -webkit-box-shadow: 0px 4px 32px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 4px 32px -1px rgba(0,0,0,0.75);
            box-shadow: 0px 4px 32px -1px rgba(0,0,0,0.75);
        }
    }
}
section#benefits{
    background-color: #f8f9f9;
    padding: 50px 0;
}
.benefits{
    h1{
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 70px !important;
        text-transform: uppercase;
    }
    i{
        color: #5fd60a;
        transition: all 0.5s ease;
    }
    i:hover{
        
        color: rgb(104, 104, 104);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform:  scale(1.2);
    }
    h4{
        font-size: 28px;
    }
    p{
        font-size: 16px;
    }
}
.galary{
    padding: 50px 0;
    h1{
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 70px;
    }

    .photo-item{
    
        .img-box{ 
            
            img{
                position: relative;
                filter: grayscale(100%);
                transition: all 0.4s ease;
                &:hover{
                    filter: grayscale(0);
                    transform: scale(1.1);
                }
            }
        }
        
       
        
    }

}
.reviews{
    padding: 50px 0;
    
    h1{
        text-align: center;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 70px;
    }
    .reviews__content{
        
        blockquote{
            background: #f8f9f9;
            border-left: 5px solid #5fd60a;
            padding: 30px 10px;
            padding-left: 20px;
            max-height: 100%;
            height: 100%;
            em{
                color: rgb(153, 153, 153);
            }
        }
    }
}
section#contacts{
    background-color: #f8f9f9;
    padding: 50px 0;
}
.contacts{
    &__title{
        text-align: center;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 70px;
    }
    &__content{
        color: rgb(126, 126, 126);
    }
}
.about{
    padding-top: 70px;
    &__title{
        text-align: center;
        font-style: 42px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 70px;
    }
    &__content{
        blockquote{
            background: #f8f9f9;
            border-left: 5px solid #5fd60a;
            max-height: 100%;
            height: 100%;
            padding: 30px 30px;
            color: rgb(153, 153, 153);
        }

    }
}
footer#footer{
    background-color: #222;
    padding: 25px 0;
}
.footer{
    h3{
        color: #fff;
        font-size: 22px;
    }
    i{
        color: #fff
    }
    .order_call{
        
        input[placeholder]{
            color: red !important;
        }
        input{
            border: none;
            color: #fff;
        }
        
    }

}




@media (max-width: 1024px){
  .overlayMenu li a{
    font-size: 16px !important;
  }

  .media_content{
    &__title{
      font-size: 26px;
    }
    &__video{
      .card-body{
        h4{
          font-size: 18px;
        }
        p{
          font-size: 14px;
        }
      }
    }
  }
  .price{
    &__title{
      h1{
        font-size: 26px;
      }
    }
    &__content{
      .price__content-block{
       
        i{
          font-size: 50px;
        }
        h4{
          font-size: 16px !important;
        }
        em{
          font-size: 14px;
        }
        p{
          font-size: 10px;
        }
      }
      
      
    }
  }
  .benefits{
    h1{
      font-size: 26px;
    }
    i{
      font-size: 56px;
    }
    h4{
      font-size: 18px;
    }
    p{
      font-size: 12px;
    }
  }
  .reviews{
    h1{
      font-size: 26px;
    }
    h4{
      font-size: 20px;
    }
    em{
      font-size: 14px;
    }
  }
  .contacts{
    &__title{
      margin-bottom: 20px;
      h1{
        font-size: 26px;
      }
    }
    &__content{
      i{
        font-size: 35px;
      }
      p{
        font-size: 14px;
      }
    }
  }
  .about{
    &__title{
      h1{
        font-size: 26px;
      }
    }
  }
  .footer{
    h3{
      font-size: 18px;
    }
    input[type="text"]{
      width: 100%;
    }
    input[type="submit"]{
      margin-top: 20px;
      width: 96%;
    }
  }
}

@media (max-width: 768px){
  .overlayMenu li a{
    font-size: 16px !important;
  }

  .media_content{
    &__title{
      font-size: 26px;
    }
    &__video{
      
      .card-body{
        display: none;
      }
    }
  }
  .price{
    &__title{
      h1{
        font-size: 26px;
      }
    }
    &__content{
      .price__content-block{
       
        i{
          font-size: 50px;
        }
        h4{
          font-size: 16px !important;
        }
        em{
          font-size: 14px;
        }
        p{
          font-size: 10px;
        }
      }
      
      
    }
  }
  .benefits{
    h1{
      font-size: 26px;
    }
    i{
      font-size: 56px;
    }
    h4{
      font-size: 16px;
    }
    p{
      font-size: 10px;
    }
  }
  .reviews{
    
    h1{
      font-size: 26px;
    }
    h4{
      font-size: 20px;
    }
    em{
      font-size: 14px;
    }
  }
  .contacts{
    &__title{
      margin-bottom: 20px;
      h1{
        font-size: 26px;
      }
    }
    &__content{
      i{
        font-size: 35px;
      }
      p{
        font-size: 14px;
      }
    }
  }
  .about{
    &__title{
      h1{
        font-size: 26px;
      }
    }
  }
  .footer{
    h3{
      font-size: 18px;
    }
    input[type="text"]{
      width: 100%;
    }
    input[type="submit"]{
      margin-top: 20px;
      width: 96%;
    }
  }
}
@media (max-width: 414px){
  .header{
    .logo img{
      margin-top: 10px;
      width: 60%;
    }
  }
  .overlayMenu li a{
    font-size: 16px !important;
  }
  .hero-content{
    .text_content{
        h1{
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
  }
  .media_content{
    &__title{
      font-size: 24px;
    }
    &__video{

      .card-body{
        display: none;
      }
    }
  }
  .price{
    &__title{
      h1{
        font-size: 26px;
      }
    }
    &__content{
      .price__content-block{
        text-align: center;
        i{
          font-size: 50px;
          // margin-left: 35%;
          margin-bottom: 10px;
        }
        h4{
          font-size: 16px !important;
        }
        em{
          font-size: 14px;
        }
        p{
          font-size: 10px;
        }
      }
      
      
    }
  }
  .benefits{
    h1{
      font-size: 26px;
    }
    i{
      font-size: 56px;
    }
    h4{
      font-size: 16px;
    }
    p{
      font-size: 10px;
    }
  }
  .galary{
    
  }
  .reviews{
    
    h1{
      font-size: 26px;
    }
    h4{
      font-size: 18px;
    }
    em{
      font-size: 13px;
    }
  }
  .contacts{
    &__title{
      margin-bottom: 20px;
      h1{
        font-size: 26px;
      }
    }
    &__content{
      i{
        font-size: 35px;
      }
      p{
        font-size: 14px;
      }
    }
  }
  .about{
    &__title{
      h1{
        font-size: 26px;
      }
    }
    &__content{
      p{
        font-size: 13px;
      }
      em{
        font-size: 13px;
      }
      li{
        font-size: 13px;
      }
    }
  }
  .footer{
    h3{
      margin-top: 20px;
      font-size: 18px;
    }
    input[type="text"]{
      width: 100%;
    }
    input[type="submit"]{
      margin-top: 20px;
      width: 97%;
      margin-bottom: 10px;
    }
    
  }
}

@media (max-width: 375px){
  
}
@media (max-width: 320px){
  
  .header{
    .logo img{
      margin-top: 10px;
      width: 60%;
    }
  }
  .overlayMenu li a{
    font-size: 16px !important;
  }
  .hero-content{
    .text_content{
        h1{
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
  }
  .media_content{
    &__title{
      font-size: 24px;
    }
    &__video{

      .card-body{
        display: none;
      }
    }
  }
  .price{
    &__title{
      h1{
        font-size: 26px;
      }
    }
    &__content{
      .price__content-block{
        text-align: center;
        i{
          font-size: 50px;
          // margin-left: 35%;
          margin-bottom: 10px;
        }
        h4{
          font-size: 16px !important;
        }
        em{
          font-size: 14px;
        }
        p{
          font-size: 10px;
        }
      }
      
      
    }
  }
  .benefits{
    h1{
      font-size: 26px;
    }
    i{
      font-size: 56px;
    }
    h4{
      font-size: 16px;
    }
    p{
      font-size: 10px;
    }
  }
  .galary{
    
  }
  .reviews{
    
    h1{
      font-size: 26px;
    }
    h4{
      font-size: 18px;
    }
    em{
      font-size: 13px;
    }
  }
  .contacts{
    &__title{
      margin-bottom: 20px;
      h1{
        font-size: 26px;
      }
    }
    &__content{
      i{
        font-size: 35px;
      }
      p{
        font-size: 14px;
      }
      a{
        font-size: 12px;
      }
    }
  }
  .about{
    &__title{
      h1{
        font-size: 18px;
      }
    }
    &__content{
      p{
        font-size: 11px;
      }
      em{
        font-size: 11px;
      }
      li{
        font-size: 11px;
      }
    }
  }
  .footer{
    h3{
      margin-top: 20px;
      font-size: 18px;
    }
    input[type="text"]{
      width: 100%;
    }
    input[type="submit"]{
      margin-top: 20px;
      width: 97%;
      margin-bottom: 10px;
    }
    
  }
}







